
<ion-content [fullscreen]="true">
  <!--Imagens da tollbar-->
  <div class="menu-section">
    <img src="assets/imagens/menu.png" >
  </div>
  <div class="brand-logo">
    <img src="assets/imagens/nike-logo2.png">
  </div>
  <div class="user-section">
    <img src="assets/imagens/User.png">
  </div>
  <!--Quadrados-->
  <div class="primary-square"></div>
  <div class="second-square"></div>
  <div class="tertiary-square"></div>
  <!--Tênis-->
  <div class="shoe-container-primary">
    <div class="primary-shoe-section">
      <img src="assets/imagens/tenis1.png">
    </div>
  </div>
  <div class="shoe-container-secondary">
    <div class="secondary-shoe-section">
      <img src="assets/imagens/tenis2.png">
    </div>
  </div>
  <div class="shoe-container-tertiary">
    <div class="tertiary-shoe-section">
      <ion-img src="assets/imagens/tenis3.png"></ion-img>
    </div>
  </div>
  
  <div class="shoe-central-container">
    <div class="central-shoe-section">
      <img src="assets/imagens/tenis1.png">
    </div>
  </div>
  <div class="title-section">
    <h2 id="main-title">KYRIE INFINITY</h2>
  </div>
  <div class="subtitle-section">
    <h3 id="main-subtitle">Calçados para Basquete</h3>
  </div>
  <div class="description-section">
    <p id="main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante.
       Suspendisse a massa vitae justo lacinia accumsan.</p>
  </div>
  <div class="price-section">
    <p id="main-price">Preço</p>
  </div>
  <div class="pricing-container">
    <h2 id="main-pricing">$ 799</h2>
  </div>
  <div class="primary-circle"></div>

  <div class="second-circle"></div>
  <div class="tertiary-circle"></div>

  <div class="primary-elipse"></div>
  <div class="second-elipse"></div>
  <div class="tertiary-elipse"></div>

  <div class="share-logo">
    <img src="assets/imagens/share.png">
  </div>

  <div class="shopping-bag-logo">
    <img src="assets/imagens/shopping-bag.png">
  </div>
</ion-content>
