
<ion-content [fullscreen]="true">
  <!--Imagens da tollbar-->
  <div class="menu">
    <img src="assets/imagens/menu.png" >
  </div>
  <div class="nike2">
    <img src="assets/imagens/nike-logo2.png">
  </div>
  <div class="user">
    <img src="assets/imagens/User.png">
  </div>
  <!--Quadrados-->
  <div class="square1"></div>
  <div class="square2"></div>
  <div class="square3"></div>
  <!--Tênis-->
  <div class="tenis1-container">
    <div class="tenis1">
      <img src="assets/imagens/tenis1.png">
    </div>
  </div>
  <div class="tenis2-container">
    <div class="tenis2">
      <img src="assets/imagens/tenis2.png">
    </div>
  </div>
  <div class="tenis3-container">
    <div class="tenis3">
      <ion-img src="assets/imagens/tenis3.png"></ion-img>
    </div>
  </div>
  
  <div class="tenis-central-container">
    <div class="tenis-central">
      <img src="assets/imagens/tenis1.png">
    </div>
  </div>
  <div class="title-3">
    <h2>KYRIE INFINITY</h2>
  </div>
  <div class="title-4">
    <h3>Calçados para Basquete</h3>
  </div>
  <div class="subtitle">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante.
       Suspendisse a massa vitae justo lacinia accumsan.</p>
  </div>
  <div class="subtitle-2">
    <p id="Preço">Preço</p>
  </div>
  <div class=""></div>
</ion-content>
