
<ion-content [fullscreen]="true">
  <div class="nike-logo">
    <img src="assets/imagens/nike-logo.png" alt="Nike Logo">
  </div>

  <div class="elipse1"></div>

  <div class="elipse2"></div>

  <div class="tenis-container">
    <div class="tenis-nike1">
      <img src="assets/imagens/Tenis-nike1.png" alt="Tenis Nike">
    </div>
  </div>

  <div class="title-1">
    <h2>SUMMER COLLECTIONS</h2>
  </div>

  <div class="title-2"> 
    <h1>2022</h1>
  </div>

  <div class="subtitle-1">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</h3>
  </div>
  
  <a href="/shop" class="botao"> GET STARTED -> </a>
  
</ion-content>
